<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

    <table class="table">
        <thead>
            <tr>
                <td>Event</td>
                <td>Description</td>
                <td>Address</td>
            </tr>
        </thead>
        <th:block th:each="key : ${events.keySet()}">
            <tr>
                <td th:text="${key}"></td>
                <td th:text="${events.get(key)}"></td>
                <td th:replace="fragments :: tech-hub"></td>
            </tr>
        </th:block>
    </table>

</body>
</html>